<h1>About</h1>
<p>The coin toss web app was made to help with with all of your decisions, big or small. Sometimes it's nice to let someone else decide for you.</p>
<p>Should you get pizza tonight? Should you text your ex? Should you order another vodka soda? These are all difficult decisions you shouldn't have to face alone. And now you don't have to. The coin toss web app is here to make your life easier.</p>
<p>Just sit back, relax and flip away as all of life's decisions are made for you.</p>

Click here to flip the coin.