<h1>Toss the Coin</h1>
<h2>Have fate decide your future.</h2>
<p>Life is full of decisions. Sometimes they're easy, sometimes they're hard. It's okay. The coin toss web app is here to help.</p>
<p>Click the button below to get started.</p>

